{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Brisas de Tokio</title>
    <link
      rel="shortcut icon"
      href="{% static 'img/logo1.png'%}"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1,
      shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style1.css' %}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary bg-white overlay-menu bg-white">
        <div class="container-fluid">
          <button
          class="navbar-toggler bg-white" 
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-2  hide-on-large-screen">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="{% url 'index'%}"
                  ><img
                    src="{% static 'img/logo1.png'%}"
                    alt="logo"
                    width="30%"
                  />Brisas de Tokio</a
                >
              </li>
            </ul>
            <style>
              
              @media (max-width: 1060px) {
              .hide-on-large-screen {
                display: none;
              }
            }
              .overlay-menu {
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 1000; /* Ajusta este valor según sea necesario para que el menú se muestre por encima de otros elementos */
                background-color: white; /
              }
              .navbar-toggler:focus {
                background-color: white; /* Fondo blanco cuando el botón está en estado activo */
              }
           </style>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0 bg-white">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="{% url 'index'%}"
                  >Inicio</a
                >
              </li>

              <li class="nav-item">
                <a
                  class="nav-link"
                  aria-current="page"
                  href="{% url 'zonascomunes' %}"
                  >Zonas Comunes</a
                >
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Registros
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'registroresidentes' %}">Registro Recidentes y propietarios</a></li>
                  <li><a class="dropdown-item" href="{% url 'registroinmuebles' %}">Registro de Inmuebles</a></li>
                  <li><a class="dropdown-item" href="{% url 'registrovisitantes' %}">Registro de Visitantes</a></li>
                  <li><a class="dropdown-item" href="{% url 'registroencargados' %}">Registro Encargados de zonas</a></li>
                  <li><a class="dropdown-item" href="{% url 'registrovehiculos' %}">Registro Vehiculos de residentes</a></li>

                </ul>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  aria-current="page"
                  href="{% url 'reservas' %}"
                  >Reservas</a
                >
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Gestionar PQRSD
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'pqrs' %}">Crear PQRSD</a></li>
                  <li><a class="dropdown-item" href="{% url 'procesarpqrs' %}">Gestionar PQRSD</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Listados de información
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'listadoreservas' %}">Listado de reservas</a></li>
                  <li><a class="dropdown-item" href="{% url 'listadopqrs' %}">Listado de PQRSD</a></li>
                  <li><a class="dropdown-item" href="{% url 'listadoinmuebles' %}">Listado de Inmuebles</a></li>
                </ul>
              </li>
             
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="p-lg-4">
      {% if messages %}
      <div class="alert alert-success">
        <ul class="m-0">
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      <h4 class='text-center'>Gestionar PQRSD</h4>
      <div class='row mx-5'>
        <table class="table">
          <thead>
            <tr>
              <th scope="col"><i class="bi bi-house-check"></i> Número de Apartamento</th>
              <th scope="col">Tipo PQR</th>
              <th scope="col">Contenido</th>
              <th scope="col">Estado</th>
              <th scope="col"><i class="bi bi-pencil-square"></i> Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for pqr in pqrs_list %}
              <tr>
                <td>{{ pqr.numero_apartamento }}</td>
                <td>{{ pqr.tipo_pqrsd }}</td>
                <td>{{ pqr.contenido }}</td>
                <td>{{ pqr.estado }}</td>
                <td>  
                <td>  
                  <button type="button" class="btn btn-primary open-modal" data-bs-toggle="modal" data-bs-target="#exampleModal" data-pqr-id="{{ pqr.id }}">
                    Procesar PQR {{ pqr.id }}
                  </button>
                  <div id="exampleModal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Procesar PQR - <span id="apartamento"></span></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <!-- Formulario para actualizar el estado, asignar un responsable y agregar comentarios -->
                                <form id="pqr-form" method="post" action="{% url 'procesar_pqr' pqr.id %}">
                        
                                  {% csrf_token %}
                                  <div class="mb-3">
                                    <label for="estado">Estado</label>
                                    <select id="estado" name="estado" class="form-control">
                                      <option value="En proceso">En proceso</option>
                                      <option value="Finalizado">Finalizado</option>
                                    </select>
                                  </div>
                                  <div class="mb-3">
                                    <label for="responsable">Responsable</label>
                                    <input type="text" id="responsable" name="responsable" class="form-control">
                                  </div>
                                  <div class="mb-3">
                                    <label for="comentario">Comentario</label>
                                    <textarea id="comentario" name="comentario" class="form-control"></textarea>
                                  </div>
                                  <button type="submit" class="btn btn-success">Guardar Cambios</button>
                                </form>
                              </div>
                            </div>
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
          
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

      <script>
        // JavaScript para cargar los detalles de la PQRSD y manejar el formulario
        document.addEventListener('DOMContentLoaded', function() {
          const modal = document.querySelector('#exampleModal');
          const modalTitle = modal.querySelector('.modal-title');
          const form = modal.querySelector('#pqr-form');

          // Captura el clic en un botón para abrir el modal
          const openModalButtons = document.querySelectorAll('.open-modal');

          openModalButtons.forEach((button) => {
              button.addEventListener('click', (event) => {
                  const pqrId = event.currentTarget.getAttribute('data-pqr-id');

                  // Realiza una solicitud AJAX para obtener detalles de PQRSD
                  $.ajax({
                      url: `/obtener_detalle_pqr/${pqrId}/`, // Debes crear esta URL en tus vistas
                      type: 'GET',
                      success: function(response) {
                          if (response.error) {
                              modalTitle.textContent = 'Error';
                              form.style.display = 'none';
                          } else {
                              modalTitle.textContent = `Procesar PQR - ${pqrId}`;

                              // Rellena los campos del formulario con los detalles de PQRSD
                              document.getElementById('estado').value = response.estado;
                              document.getElementById('responsable').value = response.responsable;
                              document.getElementById('comentario').value = '';

                              // Actualiza el formulario con el ID de PQR en el atributo 'action'
                              form.action = `/procesar_pqr/${pqrId}/`;

                              form.style.display = 'block';
                          }
                      },
                      error: function() {
                          modalTitle.textContent = 'Error';
                          form.style.display = 'none';
                      }
                  });
              });
          });
      });
    </script>
  </main>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>
    <script src="{%static 'js/script.js'%}"></script>

  </body>
</html>
