{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Brisas de Tokio</title>
    <link
      rel="shortcut icon"
      href="{% static 'img/logo1.png'%}"
      type="image/x-icon"
    />
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1,
      shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style1.css' %}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary bg-white overlay-menu bg-white">
        <div class="container-fluid">
          <button
          class="navbar-toggler bg-white" 
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-2  hide-on-large-screen">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="{% url 'index'%}"
                  ><img
                    src="{% static 'img/logo1.png'%}"
                    alt="logo"
                    width="30%"
                  />Brisas de Tokio</a
                >
              </li>
            </ul>
            <style>
              
              @media (max-width: 1060px) {
              .hide-on-large-screen {
                display: none;
              }
            }
              .overlay-menu {
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 1000; /* Ajusta este valor según sea necesario para que el menú se muestre por encima de otros elementos */
                background-color: white; /
              }
              .navbar-toggler:focus {
                background-color: white; /* Fondo blanco cuando el botón está en estado activo */
              }
           </style>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0 bg-white">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="{% url 'index'%}"
                  >Inicio</a
                >
              </li>

              <li class="nav-item">
                <a
                  class="nav-link"
                  aria-current="page"
                  href="{% url 'zonascomunes' %}"
                  >Zonas Comunes</a
                >
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Registros
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'registroresidentes' %}">Registro Recidentes y propietarios</a></li>
                  <li><a class="dropdown-item" href="{% url 'registroinmuebles' %}">Registro de Inmuebles</a></li>
                  <li><a class="dropdown-item" href="{% url 'registrovisitantes' %}">Registro de Visitantes</a></li>
                  <li><a class="dropdown-item" href="{% url 'registroencargados' %}">Registro Encargados de zonas</a></li>
                  <li><a class="dropdown-item" href="{% url 'registrovehiculos' %}">Registro Vehiculos de residentes</a></li>

                </ul>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  aria-current="page"
                  href="{% url 'reservas' %}"
                  >Reservas</a
                >
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Gestionar PQRSD
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'pqrs' %}">Crear PQRSD</a></li>
                  <li><a class="dropdown-item" href="{% url 'procesarpqrs' %}">Gestionar PQRSD</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Listados de información
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'listadoreservas' %}">Listado de reservas</a></li>
                  <li><a class="dropdown-item" href="{% url 'listadopqrs' %}">Listado de PQRSD</a></li>
                  <li><a class="dropdown-item" href="{% url 'listadoinmuebles' %}">Listado de Inmuebles</a></li>
                </ul>
              </li>
             
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="p-lg-4" >
      {% comment %} Mensaje de alerta si guarada la información {% endcomment %}
      {% if messages %}
      <div class="container mt-4">
        {% for message in messages %}
        <div
          class="alert alert-success alert-dismissible fade show"
          role="alert"
        >
          {{ message }}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        {% endfor %}
      </div>
      {% endif %}

     <!-- seleccionar_residentes.html -->


    

     <form method="post">
      {% csrf_token %}
      
      <label for="fecha_hora_ingreso">Fecha y Hora de Ingreso:</label>
      <input type="datetime-local" name="fecha_hora_ingreso" required>
      
      <label for="tipo_identificacion">Tipo de Identificación:</label>
      <select name="tipo_identificacion" required>
        <option value="Ti">TI</option>
        <option value="CC">CC</option>
        <option value="CT">CT</option>
      </select>
      
      <label for="numero_identificacion">Número de Identificación:</label>
      <input type="text" name="numero_identificacion" required>
      
      <label for="nombres_completos">Nombres Completos:</label>
      <input type="text" name="nombres_completos" required>
      
      <label for="numero_contacto">Número de Contacto:</label>
      <input type="text" name="numero_contacto" required>
      
      {% comment %} <label for="unidad_residencial">Unidad Residencial:</label>
      <select name="unidad_residencial" required>
        {% for apartamento in apartamentos %}
          <option value="{{ apartamento.id }}"> Torre {{ apartamento.torre }}</option>
        {% endfor %}
      </select> {% endcomment %}


      
      <label for="vehiculo">¿Viene en vehículo?</label>
      <input type="checkbox" name="vehiculo">
      
      <div id="datos-vehiculo">
        <label for="placa_vehiculo">Placa del Vehículo:</label>
        <input type="text" name="placa_vehiculo">
        
        <label for="parqueadero_visitante">Número de Parqueadero Asignado:</label>
        <input type="number" name="parqueadero_visitante">
      </div>
      <label for="unidad_residencial">Apartamento:</label>
        <select name="unidad_residencial" id="unidad_residencial">
            <option value="" selected>Selecciona un apartamento</option>
            {% for apartamento in apartamentos %}
                <option value="{{ apartamento.inmueble_id }}">{{ apartamento.numero_apartamento }}</option>
            {% endfor %}
        </select>
       

        <div id="residentes-autorizados-card" class="card" style="display: none;">
            <div class="card-header">
                Residentes Autorizados
            </div>
            <div class="card-body">
                <!-- Lista de residentes autorizados -->
                <ul id="residentes-autorizados-list">
                </ul>
            </div>

            <label>
              <input type="checkbox" name="aprobado" required> Residente autorizado aprobó la entrada
            </label>
        </div>

      
      <button type="submit">Registrar Visitante</button>
    </form>
    
    <script>
      // Mostrar/ocultar campos de vehículo al cambiar la casilla "Viene en vehículo"
      const checkboxVehiculo = document.querySelector('input[name="vehiculo"]');
      const datosVehiculo = document.querySelector('#datos-vehiculo');
      
      checkboxVehiculo.addEventListener('change', function() {
        datosVehiculo.style.display = this.checked ? 'block' : 'none';
      });
    </script>
      
      </div>
    </main>
    <footer>
      <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
     

      $(document).ready(function () {
        $('#unidad_residencial').change(function () {
            const apartamentoId = $(this).val();
    
            if (apartamentoId) {
                $.ajax({
                    url: '/obtener_residentes_autorizados/' + apartamentoId + '/',
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        const residentesAutorizadosList = $('#residentes-autorizados-list');
                        residentesAutorizadosList.empty();  // Limpia la lista actual
    
                        if (data.residentes_autorizados.length > 0) {
                            for (const residente of data.residentes_autorizados) {
                                // Agrega cada residente autorizado como un elemento de la lista
                                residentesAutorizadosList.append('<li>Nombre Residente autorizado: ' + residente.nombres + ' - Teléfono: ' + residente.numero_contacto + '</li>');
                            }
                        } else {
                            // Muestra un mensaje personalizado si no hay residentes autorizados
                            residentesAutorizadosList.append('<li>No hay responsables para autorización.</li>');
                        }
    
                        // Muestra la tarjeta de residentes autorizados
                        $('#residentes-autorizados-card').show();
                    }
                });
            } else {
                $('#residentes-autorizados-card').hide();  // Oculta la tarjeta si no hay apartamento seleccionado
            }
        });
    
        // Simula un cambio en el select al cargar la página
        $('#unidad_residencial').change();
    });
    
    
    </script>
    
    

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>
    <script src="{%static 'js/script1.js'%}"></script>

  </body>
</html>
