{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Brisas de Tokio</title>
    <link
      rel="shortcut icon"
      href="{% static 'img/logo1.png'%}"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1,
      shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style1.css' %}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary bg-white overlay-menu bg-white">
        <div class="container-fluid">
          <button
          class="navbar-toggler bg-white" 
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-2  hide-on-large-screen">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="{% url 'index'%}"
                  ><img
                    src="{% static 'img/logo1.png'%}"
                    alt="logo"
                    width="30%"
                  />Brisas de Tokio</a
                >
              </li>
            </ul>
            <style>
              
              @media (max-width: 1060px) {
              .hide-on-large-screen {
                display: none;
              }
            }
              .overlay-menu {
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 1000; /* Ajusta este valor según sea necesario para que el menú se muestre por encima de otros elementos */
                background-color: white; /
              }
              .navbar-toggler:focus {
                background-color: white; /* Fondo blanco cuando el botón está en estado activo */
              }
           </style>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0 bg-white">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="{% url 'index'%}"
                  >Inicio</a
                >
              </li>

              <li class="nav-item">
                <a
                  class="nav-link"
                  aria-current="page"
                  href="{% url 'zonascomunes' %}"
                  >Zonas Comunes</a
                >
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Registros
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'registroresidentes' %}">Registro Recidentes y propietarios</a></li>
                  <li><a class="dropdown-item" href="{% url 'registroinmuebles' %}">Registro de Inmuebles</a></li>
                  <li><a class="dropdown-item" href="{% url 'registrovisitantes' %}">Registro de Visitantes</a></li>
                  <li><a class="dropdown-item" href="{% url 'registroencargados' %}">Registro Encargados de zonas</a></li>
                  <li><a class="dropdown-item" href="{% url 'registrovehiculos' %}">Registro Vehiculos de residentes</a></li>

                </ul>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  aria-current="page"
                  href="{% url 'reservas' %}"
                  >Reservas</a
                >
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Gestionar PQRSD
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'pqrs' %}">Crear PQRSD</a></li>
                  <li><a class="dropdown-item" href="{% url 'procesarpqrs' %}">Gestionar PQRSD</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Listados de información
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'listadoreservas' %}">Listado de reservas</a></li>
                  <li><a class="dropdown-item" href="{% url 'listadopqrs' %}">Listado de PQRSD</a></li>
                  <li><a class="dropdown-item" href="{% url 'listadoinmuebles' %}">Listado de Inmuebles</a></li>
                </ul>
              </li>
             
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="p-lg-4">
      {% comment %} Mensaje de alerta si guarada la información {% endcomment %}
      {% if messages %}
      <div class="container mt-4">
        {% for message in messages %}
        <div
          class="alert alert-success alert-dismissible fade show"
          role="alert"
        >
          {{ message }}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        {% endfor %}
      </div>
      {% endif %}

      <div class="container">
        {% comment %} Formulario para agregar nuevas zonas comunes {% endcomment %}
        <button
          type="button"
          class="btn btn-success mb-5"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
        Agrega nueva zona Común
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">
                  Agregar nueva Zona Común habilitada
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <p>Los campos con (<span class='text-danger'>*</span>) son obligatorios.</p>
                <form method="post" action="{% url 'zonascomunes' %}">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre de la Zona Común <span class='text-danger'>*</span></label>
                    <select name="nombre" id="nombre" class="form-select">
                      {% for choice in zona_choices %}
                      <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="requiere_pago" class="form-check-label">La zona Requiere Pago</label>
                    <input
                      type="checkbox"
                      name="requiere_pago"
                      id="requiere_pago"
                      class="form-check-input"
                      value="on"
                    />
                  </div>
                  <div class="mb-3 monto-field">
                    <label for="monto" class="form-label">¿Cual es el Monto?</label>
                    <input type="number" name="monto" id="monto" class="form-control" value="0"/>
                </div>
                  <div class="mb-3">
                    <label for="requiere_deposito" class="form-check-label">La zona Requiere Depósito</label>
                    <input
                      type="checkbox"
                      name="requiere_deposito"
                      id="requiere_deposito"
                      class="form-check-input"
                      value="on"
                    />
                  </div>
                 
                
                <div class="mb-3 monto-deposito-field">
                    <label for="monto_deposito" class="form-label">¿Cual es Monto de Depósito?</label>
                    <input type="number" name="monto_deposito" id="monto_deposito" class="form-control" value="0"/>
                </div>
                
               
                  <div class="mb-3">
                    <label for="bloques_reserva" class="form-label">Maxima Cantidad de Bloques de Reserva <span class='text-danger'>*</span></label>
                    <input
                      type="number"
                      name="bloques_reserva"
                      id="bloques_reserva"
                      class="form-control"
                      required
                    />
                  </div>
                  <div class="mb-3">
                    <label for="cancelacion_horas_previas" class="form-label">¿Con cuantas horas de anticipación se puede Cancelar la reverva?</label>
                    <input
                      type="number"
                      name="cancelacion_horas_previas"
                      id="cancelacion_horas_previas"
                      class="form-control"
                      value='0'
                    />
                  </div>
                  <div class="mb-3">
                    <label for="cantidad_personas_permitidas" class="form-label">Cantidad de Personas Permitidas <span class='text-danger'>*</span></label>
                    <input
                      type="number"
                      name="cantidad_personas_permitidas"
                      id="cantidad_personas_permitidas"
                      class="form-control"
                      required
                    />
                  </div>
                  <div class="mb-3">
                    <label for="mismo_usuario_puede_reservar_consecutivamente" class="form-label">Mismo Usuario Puede Reservar Consecutivamente ¿Cuantas veces? <span class='text-danger'>*</span></label>
                    <input
                      type="number"
                      name="mismo_usuario_puede_reservar_consecutivamente"
                      id="mismo_usuario_puede_reservar_consecutivamente"
                      class="form-control"
                      required
                    />
                  </div>
                  {% comment %} horario {% endcomment %}

                  <div class="mb-3">
                    <label for="disponibilidad_semana" class="form-label">Disponibilidad Semana <span class='text-danger'>*</span></label>
                    <input
                      type="text"
                      name="disponibilidad_semana"
                      id="disponibilidad_semana"
                      class="form-control"
                      placeholder='Lunes A viernes y Domingos'
                      required
                    />
                  </div>

                  <div class="mb-3">
                    <label for="horario_inicio_semana" class="form-label">Horario de Inicio Semana <span class='text-danger'>*</span></label>
                    <input
                      type="time"
                      name="horario_inicio_semana"
                      id="horario_inicio_semana"
                      class="form-control"
                      required
                    />
                  </div>
                  <div class="mb-3">
                    <label for="horario_fin_semana" class="form-label">Horario Fin Semana <span class='text-danger'>*</span></label>
                    <input
                      type="time"
                      name="horario_fin_semana"
                      id="horario_fin_semana"
                      class="form-control"
                      required
                    />
                  </div>


                  <div class="mb-3">
                    <label for="disponibilidad_fin_de_semana" class="form-label">Disponibilidad fin de Semana</label>
                    <input
                      type="text"
                      name="disponibilidad_fin_de_semana"
                      id="disponibilidad_fin_de_semana"
                      class="form-control"
                      placeholder='Sabados y Domingos con lunes festivos'
                      value='no aplica'
                    />
                  </div>


                  <div class="mb-3">
                    <label for="horario_inicio_finde" class="form-label">Horario de Inicio fin de semana</label>
                    <input
                      type="time"
                      name="horario_inicio_finde"
                      id="horario_inicio_finde"
                      class="form-control"
                      value='00:00'
                    />
                  </div>
                  <div class="mb-3">
                    <label for="horario_fin_finde" class="form-label">Horario final del fin de semana</label>
                    <input
                      type="time"
                      name="horario_fin_finde"
                      id="horario_ushorario_fin_findeo_fin_si_festivo"
                      class="form-control"
                      value='00:00'
                    />
                  </div>
                
                  <button type="submit" class="btn btn-success">Crear Zona Común</button>
                </form>
                
              </div>
            </div>
          </div>
        </div> 

        {% comment %} mostrar información detallada de las zonas comunes  {% endcomment %}
     
        <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for zona_comun in zonas_comunes %}

        <div class="col-md-3">
          <div class="card">
            <div class='d-flex justify-content-center'>
              <img src="{% static 'img/prison.png' %}" class="w-25 " alt="zona comun" >
            </div>
          
            <div class="card-body">
              <h5 class="card-title text-center">{{ zona_comun.nombre }}</h5>
              <div class="card-text">
                <h6 class='text-center'>Datos de la zona Común</h6>
                <hr>
                <p>La zona requiere pago: <em> <b>  {% if zona_comun.requiere_pago %}Sí{% else %}No{% endif %}</b>  </em></p>
                <p>Monto a pagar:  {% if zona_comun.monto > 0 %}${{ zona_comun.monto }}{% else %}No aplica{% endif %}</p>
                <p>La zona requiere depósito: <em> <b>{% if zona_comun.requiere_deposito %}Sí{% else %}No{% endif %}</b>  </em></p>
                <p>Monto del depósito: <em> <b>{% if zona_comun.monto_deposito > 0 %}${{ zona_comun.monto_deposito }}{% else %}No aplica{% endif %}</b>  </em></p>
                <p>Bloques máximos de préstamo: <em> <b>{{ zona_comun.bloques_reserva }}</b>  </em></p>
                <p>
                  Con cuántas horas de anticipación se cancela: <em> <b>
                  {% if zona_comun.cancelacion_horas_previas == 0 %}
                    Se cancela en cualquier momento
                  {% else %}
                    {{ zona_comun.cancelacion_horas_previas }} horas
                  {% endif %} </b>  </em>
                </p>
                <p>Cantidad de personas permitidas: <em> <b>{{ zona_comun.cantidad_personas_permitidas }} </b>  </em></p>
                <p>Número de reservas consecutivas: <em> <b>{% if zona_comun.mismo_usuario_puede_reservar_consecutivamente > 0 %}{{ zona_comun.mismo_usuario_puede_reservar_consecutivamente }}{% else %}Puede cancelar en cualquier momento{% endif %} </b>  </em></p>
                <p>Días de la semana para préstamo: <em> <b>{{ zona_comun.disponibilidad_semana }} </b>  </em></p>
                <p>Hora inicio préstamo:<em> <b> {{ zona_comun.horario_inicio_semana }} </b>  </em></p>
                <p>Hora final habilitado:<em> <b> {{ zona_comun.horario_fin_semana }} </b>  </em></p>
                <p>Días de préstamo fines de semana y festivo:
                  <em>
                    <b>
                      {% if zona_comun.disponibilidad_fin_de_semana == "" %}
                        No aplica
                      {% else %}
                        {{ zona_comun.disponibilidad_fin_de_semana }}
                      {% endif %}
                    </b>
                  </em>
                </p>
                
                <p>Hora inicio préstamo fines de semana:
                  <em>
                    <b>
                      
                        {{ zona_comun.horario_inicio_finde }}
                     
                    </b>
                  </em>
                </p>
                
                <p>Hora final préstamo fines de semana:
                  <em>
                    <b>
                        {{ zona_comun.horario_fin_finde }}
                    </b>
                  </em>
                </p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
   
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>
    <script src="{%static 'js/script1.js'%}"></script>
  </body>
</html>
